<%= form_for @movie, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :imdb_rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :imdb_rating, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :imdb_link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :imdb_link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watched, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :watched, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                movies_path, :class => 'btn' %>
  </div>
<% end %>
